// add your custom styles here
// to learn more about SASS, visit sass-lang.com

@mixin home-xsmall-small-medium {
  @media screen and (max-width: 767px) { @content; }
}
@mixin home-portrait {
  @media screen and (max-width: 767px) and (orientation: portrait) { @content; }
}
@mixin home-landscape {
  @media screen and (max-width: 767px) and (orientation: landscape) { @content; }
}
@mixin home-large {
  @media screen and (min-width: 768px) { @content; }
}
@mixin home-medium {
  @media screen and (min-width: 540px) { @content; }
}
@mixin home-xl {
  @media screen and (min-width: 1200px) { @content; }
}

.vh-100 {
  height: 100vh;
}
.height-90 {
  height: 90%;
}
.width-80 {
  width: 80%;
}
// Reboot again
body {
  background-color: $light;
  letter-spacing: .03em;
}

// NAV
#primary-menu a {
  font-weight: 700;
  color: $gray-600;
  text-transform: uppercase;
  font-size: 0.9em;
  @include home-xl {
    font-size: 1em;
  }
}

#primary-menu a:hover, #primary-menu a:hover {
  color: $orange-acco;
}

#primary-menu .active {
  color: $gray-900;
}

.shadow-dd-menu {
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
  border: white;
}

.dropdown-item {
  text-transform: none !important;
  font-weight: 400 !important;
  color: $gray-600 !important;
  font-size: 1em !important;
  &:hover {
    background-color: white !important;
    color: $orange-acco !important;
    border: 0 !important;
  }
}


// home-spash
#carousel-home {
  background-image: linear-gradient(#FE9300, $rouge-acco);
  .carousel-caption {
    bottom: 20%;
    left: 5%;
    right: 5%;
    .blockquote {
      width: 560px;
      text-align: left;
      font-size: 2em;
      font-weight: 400;
      font-style: italic;
      cite {
        color: white;
        }
    }
    .blockquote-footer {
      margin-top: 1em;
      &::before {
        color: white;
      }
    }
    .carousel-logo img {
      opacity: 100%;
    }
  }  
  .carousel-item {
    @include home-portrait {
      height: 100vh;
      img {
        opacity: 0.25;
        height: 100%;
        transform: translateX(-30%);
      }
    }
    @include home-landscape {
      height: 100vh;
      img {
        opacity: 0.25;
        min-height: 100%;
        width: 100%;
      }
    }
    @include home-large {
      height: 500px;
      img {
        opacity: 0.25;
        width: 100%;
      }
    }
  }
}

// homePhotoMobile
#homephotomobile {
  height: 100vh;
  background: 
  /* top, transparent red */ 
  linear-gradient(
    rgba(255, 0, 0, 0.75), 
    rgba(255, 145, 0, 0.75)
  ),
  url(../images/carousel-1600-01.jpg) no-repeat center ;
  background-size: cover;
  
  .home-logo {
    @include media-breakpoint-down(sm) {
      width: 280px;
      height: auto;
    }
    @include media-breakpoint-up(sm) {
      width: 410px;
      height: auto;
    }
  }
  .home-picto {
    @include media-breakpoint-down(sm) {
      width: 60px;
      height: auto;
    }
    @include media-breakpoint-up(sm) {
      width: 80px;
      height: auto;
    } &:hover {
      transform: scale(1.1);
    }
    transition: transform 1s;
  } 
  a {
    transition-property: letter-spacing;
    transition-duration: 1s;
  }
  a:hover {
    text-decoration: none;
    letter-spacing: 0.06em;
  }
}



// Fonts
.font-weight-black {
  font-weight: 900 !important;
}

.pacifico {
  font-family: $font-family-pacifico;
  font-weight: 500;
}

// Colors
.bg-beige {
  background-color: $beige-acco;
}

// Navigation : < prev next >

.navigation {
  a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
    color: $gray-500;
    &:hover {
      text-decoration: none;
      color: $gray-700;
    }
  }
}
.navigation-divider {
  height: 1px;
  margin: 0 0 1em 0;
  overflow: hidden;
  background-image: url(../images/stroke-1-4.svg);
}
.white-divider {
  height: 1px;
  margin: 0 0 1em 0;
  overflow: hidden;
  background-image: url(../images/stroke-1-4-white.svg);
}


// BG de la div Actus
#actus {
  @include home-xsmall-small-medium {
    background-color: #fff;
  }
}

// FORMS
