// add your custom styles here
// to learn more about SASS, visit sass-lang.com

@mixin xsmall-small-medium {
  @media screen and (max-width: 991px) { @content; }
}
@mixin mobile-portrait {
  @media screen and (max-width: 991px) and (orientation: portrait) { @content; }
}
@mixin mobile-landscape {
  @media screen and (max-width: 991px) and (orientation: landscape) { @content; }
}
@mixin home-large {
  @media screen and (min-width: 991px) { @content; }
}
@mixin home-medium {
  @media screen and (min-width: 540px) { @content; }
}
@mixin home-xl {
  @media screen and (min-width: 1200px) { @content; }
}

.vh-100 {
  height: 100vh;
}
.height-90 {
  height: 90%;
}
.width-80 {
  width: 80%;
}
.font-weight-black {
  font-weight: 900 !important;
}
.pacifico, .display-1, .display-2, .display-3, .display-4, .display-5 {
  font-family: $font-family-pacifico;
  font-weight: 500;
}
.display-5 {
  font-size: 2.5rem;
  line-height: 1.2;
}
.bg-beige {
  background-color: $beige-acco;
}

.img-fluid {
  width: 100%;
  height: auto;
}

// Reboot again
body {
  background-color: $light;
  letter-spacing: .03em;
}

.btn-outline-light:focus {
  color: black;
  background: white;
}

// Fonts and color : NAV
#primary-menu {
  .navbar-brand {
    overflow: auto;
    width: 180px;
  }
  .active a {
    color: $gray-900;
  }
  .nav-link {
    font-weight: 700;
    color: $gray-600;
    text-transform: uppercase;
    font-size: 0.9em;
    @include home-xl {
      font-size: 1em;
    }
    &:hover,
    &:focus {
      color: $orange-acco;
    }
  }
  .dropdown-item:hover {
    background: none;
    color: $orange-acco;
  }
}
.dropdown-menu-shadow {
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
  border: white;
}

.site-header {
  position: relative;
  z-index: $zindex-sticky;
}
// Menus
#menus {
  @include home-large {
    display: block !important;
    opacity: 1 !important;
    
    .dropdown {
      .dropdown-menu {
        display: block;
        transition: all 0.3s ease-out;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
      }
      &:hover,
      &:focus-within {
        .dropdown-menu {
          opacity: 1;
          max-height: 250px;
        }
      }
    }
  }
  @include xsmall-small-medium {
    background-image: linear-gradient($orange-acco, $rouge-acco);
    min-height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
    .menus-container {
      display: flex;
    }
    #secondary-menu {
      .container {
        height: 100%;
        flex-direction: column;
        justify-content: center !important;
        a:first-child {
          margin-bottom: 2em;
        }
      }
    }
    #primary-menu {
      .navbar {
        display: block;
      }
      .navbar-brand {
        display: none;
      }
      .container, .container, nav, ul {
        height: 100%;
      }
      .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        .nav-item {
          text-align: center;
          .nav-link {
            color: white;
            font-size: 1em;
            transition: .1s transform ease-in;
            &:hover {
              transform: scaleX(1.1);
            }
          }
          .dropdown-menu {
            // Animate opening/closing
            display: block;
            max-height: 0;
            overflow: hidden;
            transition: max-height .5s;
            &.show {
              max-height: 200px;
            }
            // Override Bootstrap styles on mobile
            background-color: transparent;
            box-shadow: none;
            position: static;
            margin: 0 auto;
            &.show {
              margin-bottom: 1rem;
            }
            padding: 0;
            .dropdown-item {
              color: white;
              text-align: center;
              transition: .1s transform ease-in;
              &:hover {
                transform: scaleX(1.1);
              }
            }
            .dropdown-divider {
              display: none;
            }
          }
        }
      }
    }
  }
  @include mobile-portrait {
    .menus-container {
      flex-direction: column-reverse;
    }
    #secondary-menu {
      height: 30vh;
      .container {
        height: 100%;
      }
    }
    #primary-menu {
      min-height: 70vh;
    }

  }
  @include mobile-landscape {
    .menus-container {
      flex-direction: row-reverse;
      min-height: 100vh;
    }

    #secondary-menu {
      height: 100vh;
      width: 40%;
    }
    #primary-menu {
      min-height: inherit;
      width: 60%;
    }
  }
}
// end of #menus

// Burger icon
.navbar-toggler {
  position: absolute;
  z-index: 10;
  right: 0px;
  padding: 1.5em;
  border-radius: 0;
  &:focus {
    outline: 0;
  }
}

// Animate burger icon
// Code adapted from https://www.sarasoueidan.com/demos/navicon-transformicons/
.navbar-light .navbar-toggler {
  background: white;
}
.navbar-toggler-transformicon {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: 1em;
  height: .1em;
  background: white;
  &.burger-dark {
    background: $gray-900;
    &:before, &:after {
      background: $gray-900;
    }
  }
  transition: 0.3s;
  position: relative;
  top: 0em;

  &:before,
  &:after {
    display: inline-block;
    width: inherit;
    height: inherit;
    background: white;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    transform-origin: 0.2rem center;
  }
  &:before {
    top: .45rem;
  }
  &:after {
    top: -.45rem;
  }

  [aria-expanded='true'] & {
    background: transparent;

    &:before,
    &:after {
      transform-origin: 50% 50%;
      top: 0;
    }
    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }
    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
    &.burger-dark {
      &:before,
      &:after {
        background: white;
      }
    }
  }
}


// Carousel
.carousel {
  background-image: linear-gradient(#fb2600, #FE9300);
  margin-bottom: map-get($spacers, 5);;
  .carousel-item {
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-image: linear-gradient(
        rgba(255, 0, 0, 0.75),
        rgba(255, 145, 0, 0.75)
      );
    }
  }
  .carousel-caption {
    position: absolute;
    top: 0;
    height: 100%;
    left: 5%;
    right: 5%;
    .blockquote {
      width: 560px;
      text-align: left;
      font-size: 2em;
      font-weight: 400;
      font-style: italic;
      cite {
        color: white;
        }
    }
    .blockquote-footer {
      margin-top: 1em;
      &::before {
        color: white;
      }
    }
    .carousel-logo img {
      opacity: 1;
    }
  }
} // end #carousel-home

// homePhotoMobile
#homephotomobile {
  height: 100vh;
  background:
  /* top, transparent red */
  linear-gradient(
    rgba(255, 0, 0, 0.75),
    rgba(255, 145, 0, 0.75)
  ),
  url(../images/carousel-1600-01.jpg) no-repeat center ;
  background-size: cover;

  .home-logo {
    height: auto;
    max-width: 100%;
    margin-top: 40px;
    @include media-breakpoint-down(sm) {
      width: 280px;
    }
    @include media-breakpoint-up(sm) {
      width: 410px;
    }
  }
  .home-picto {
    @include media-breakpoint-down(sm) {
      width: 60px;
      height: auto;
    }
    @include media-breakpoint-up(sm) {
      width: 80px;
      height: auto;
    }
  }
  a {
    transition: .5s;
    display: block;
    &:hover,
    &:focus {
      text-decoration: none;
      transform: scale(1.1);
    }
  }
}
// Article heading
.article-heading {
  height: 500px;
  overflow: hidden;
  background-color: black;
  img {
    opacity: .5;
  }
  a:hover, a:focus {
    color: white;
  }
}
.super-shadow {
  text-shadow:
    0 0 4px rgba(0, 0, 0, 0.8);
}
// Agenda posts cards
.agenda-posts {
  .card {
    @include media-breakpoint-up(lg) {
      min-width: 80%;
    }
    @include media-breakpoint-down(sm) {
      min-width: 80%;
    }
  }
  @include media-breakpoint-only(md) {
    .card:not(:first-child) {
      margin-left: 5px;
    }
    .card:not(:last-child) {
      margin-right: 5px;
    }
  }
  a {
    transition: .1s color ease-in;
    &:hover,
    &:focus {
      color: $rouge-acco !important;
    }
  }
}

// Actus-posts cards
.actus {
  @include xsmall-small-medium {
    background-color: #fff;
  }
  .card {
    margin-bottom: map-get($spacers, 2);
    border-radius: 0;
    border: none;
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
  }
  .card-title {
    background: $white;
    color: $text-muted;
    @include font-size(80%);
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
    padding: map-get($spacers, 2);
    @include media-breakpoint-up(lg) {
      padding: 0;
    }
    margin-top: map-get($spacers, 5) * -1;
    @include media-breakpoint-up(lg) {
      padding: 0;
      margin: 0 0 map-get($spacers, 3);
    }
  }
  a {
    i {
      font-size: .8em;
      position: relative;
      bottom: 1px;
      transition: .1s padding ease-in;
      text-indent: .5em;
      padding-left: 0;
      padding-right: .5em;
    }
    &:hover i {
      padding-left: .5em;
      padding-right: 0;
    }
  }
}

.prev-next {
  padding-bottom: 1em;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin: 0 0 .5em 0;
    overflow: hidden;
    background-image: url('../images/stroke-1-4.svg');
  }
  
  .nav-link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
    color: $gray-500;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      color: $gray-700;
    }
  }
}

// FORMS
form {
  .form-control {
    border-radius: 0;
    border-color: $gray-600;
    &:focus {
      border-color: $gray-400;
      outline: 0;
      box-shadow: none;
      &::placeholder {
        color:$gray-400;
      }
    }
  }
}
// newsletter form
#subscribe-email {
  max-width: 450px;
  margin: 0 auto;
}

// Article comments
.box-comment {
  border-color: $gray-600;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  &:last-child {
    border: none !important;
    margin-bottom: 0;
    padding-bottom:0;
  }
}

// FOOTER
.white-divider {
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin: 0 0 .5em 0;
    overflow: hidden;
    background-image: url('../images/stroke-1-4-white.svg');
  }
}