// Color system
$beige-acco: #FFE8C6;
$rouge-acco: #990132;
$orange-acco: #fd6e21;
$dark-acco: #5A031F;
$dark: $gray-900;

// ajouter + modifier des couleurs
$theme-colors: (
  "beige": $beige-acco,
  "primary": $rouge-acco,
  "info": $orange-acco,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "dark-acco": $dark-acco
);


$enable-responsive-font-sizes: true; // Reduce heading font sizes on mobile


// Body
// $body-bg: $white !default;
// $body-color: $gray-900 !default;


// Links
$link-color: theme-color("primary");
// $link-decoration: none !default;
$link-hover-color: darken($link-color, 15%);
// $link-hover-decoration: underline !default;



// Typography
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Pacifico&display=swap');
$font-family-sans-serif: "Lato", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-pacifico: Pacifico, "Lato", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-family-base: $font-family-sans-serif;

